body {
    background: blue;
}
h1 {
    margin: 0;
}
.p-10 {
    padding: 10px;
}
.navbar {
    background: green;
    display: flex;
}
.navbar > *{
    width: 50%;
}
.navbar .buttons {
    text-align: right;
}
.tagline {
    background: red;
}
.features {
    background: purple;
    display: flex;
}
.footer {
    background: yellow;
}
.container {
    margin: auto;
    width: 1000px;
}
.w-100 {
    width: 100%;
    text-align: center;
}
.feat {
    border: 1px dashed red;
    width: 33%;
}